.sidenav {
  background-color: #66daf6;
  width: 200px;
}

.sidenav a {
  color: #FFF;
}

.sidenav i {
  padding-right: 10px;
  vertical-align: middle;
}

.content {
  padding: 16px;
  background-color: #FFF;
}